.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1mm;
  margin-bottom: 1mm;
  margin-left: 6mm;
  margin-right: 5mm;

}

.Side_bar {
  flex: 30%;
  background-color: skyblue;
  padding: 20px;
}

.Images {
  flex: 70%;
  background-color: rgb(185, 130, 171);
  padding: 20px;
}