#myid {
    background-color: blue;
  }
  
  .myclass {
    background-color: rgb(255,0,0)
  }
  
  p {
    background-color: rgb(98, 0, 255) !important;
  }
  h1{
    background-color: aquamarine;
  }
  
  